:root {
    --color-de-titulo: rgb(91, 235, 189); 
    --color-de-titulo-caixa: rgb(0, 255, 136); 
    --color-de-fundo-caixa: rgb(46, 39, 64); 
    --color-de-fundo-claro: rgb(81, 72, 105); 
    --color-de-fundo-escuro: rgb(32, 27, 44); 
}